.img-banner-info-display {
    width: 40%;
    height: 26.4rem;
    object-fit: cover;
}

.img-collection {
    width: 93%;
    height: 16.4rem;
    object-fit: cover;
}

.img-product {
    object-fit: cover;
    height: 29.4rem;
    width: 91%;
}

.img-set{
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    gap: 8px;
    cursor: pointer;
}

.img-set-item{
    flex: 0 0  100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.img-set-container {
    position: relative;
    width: 91%;
}
.slider-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.3s;
}

.slider-control.left {
    left: 10px;
}

.slider-control.right {
    right: 10px;
}

/* Show controls on hover */
.img-set-container:hover .slider-control {
    opacity: 1;
}


.box { 
    width: 400px;
    height: 200px; 
    background: #202746;
    color: #979db4; border:5px solid #fff;
    box-shadow:0px 0px 3px #202746;
    margin:10vh 2vh;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    }