<app-home-carousel></app-home-carousel>

<div class="container">
    <div class="row mt-80 mb-35">
        <div class="col-12 d-flex justify-content-center align-items-center flex-wrap">
            <span class="p-title mr-25">See products in </span>
            <a href="" class="tag-label mx-4 my-3">Fashion</a>
            <a href="" class="tag-label mx-4 my-3">Fashion</a>
            <a href="" class="tag-label mx-4 my-3">Fashion</a>
            <a href="" class="tag-label mx-4 my-3">Fashion</a>
        </div>
    </div>
</div>

<div class="container mt-80 pb-60">
    <h1 class="mb-35 text-start">Collections</h1>
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-6 text-center mb-30">
            <img src="assets/images/collection/home-3/collection-2.jpg" alt="" class="img-fluid img-collection">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-8 mt-15">
                    <span class="title">LEX BY NEMIROFF</span>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-6 text-center mb-30">
            <img src="assets/images/collection/home-3/collection-2.jpg" alt="" class="img-fluid img-collection">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-8 mt-15">
                    <span class="title">LEX BY NEMIROFF</span>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-6 text-center mb-30">
            <img src="assets/images/collection/home-3/collection-2.jpg" alt="" class="img-fluid img-collection">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-8 mt-15">
                    <span class="title">LEX BY NEMIROFF</span>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="ps-section--product-video">
    <div class="ps-container-fluid">
        <div class="ps-video"><img src="assets/images/product-creative-content/bg-video.jpg" alt=""><a class="ps-video__play" href="#"><i class="exist-play"></i></a></div>
    </div>
</div>
<div class="ps-section--product-quote">
    <div class="ps-container-fluid">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 "><img src="assets/images/product-creative-content/collection.jpg" alt="">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 ">
                <div class="ps-section__content">
                    <h3>Just lay beside the ones you trust enjoying the cold and the winter sun.</h3><a href="#">Shop now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-30 pb-60">
    <h1 class="mb-40">Image makers for tomorrow's icons</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="row justify-content-center">
                <div
                    class="col-xl-6 col-lg-6 col-11 d-flex justify-content-center">
                    <img src="assets/images/collection/home-3/collection-2.jpg" alt=""
                        class="img-fluid img-banner-info-display">
                        <img src="assets/images/collection/home-3/collection-2.jpg" alt=""
                        class="img-fluid img-banner-info-display mt-45 ml-15">
                </div>
                <div class="col-xl-4 col-lg-6 col-md-11 col-12 mt-5 mt-lg-0 text-center text-lg-start d-flex flex-wrap">
                    <h2>The higher the ART, the more powerful the brand</h2>
                    <div class="fs-20 fm-secondary-200 mt-3 text-lg-start text-center">
                        <p class="fm-secondary-200">We meet the creative challenges
                            faced by all
                            luxury brands. Devise the strategy, deliver the content, shape your digital landscape.
                        </p>
                        <p class="fm-secondary-200">Every
                            image packs a punch. Every word provokes thought. We make you fly, and let you breathe.
                        </p>
                    </div>
                    <a class="btn-primary mt-4 d-flex align-items-center">
                    Shop Collection </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="ps-section--home-6-features-product">
    <div class="ps-container-fluid">
        <div class="ps-section__header text-center">
            <h3 class="ps-heading">Shop Featured Products</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed fermentum nibh, vel aliquet massa.
                Etiam in magna id risus lacinia luctus eget eu est.</p>
        </div>
        <div class="masonry-wrapper" data-col-md="4" data-col-sm="3" data-col-xs="1" data-gap="20" data-radio="4:3">
            <div class="ps-masonry">
                <div class="grid-sizer"></div>
                <div class="grid-item">
                    <div class="grid-item__content-wrapper">
                        <div class="ps-product--metro">
                            <div class="ps-product__thumbnail">
                                <div class="ps-badge ps-badge--new"><span>New</span></div><img
                                    src="assets/images/shop/metro-1.jpg" alt=""><a class="ps-btn ps-product__shopping"
                                    href="#"><i class="exist-minicart"></i>Add to cart</a>
                                <ul class="ps-product__actions">
                                    <li><a href="#"><i class="exist-heart"></i></a></li>
                                    <li><a href="#"><i class="exist-compare"></i></a></li>
                                    <li><a href="#"><i class="exist-quickview"></i></a></li>
                                </ul>
                            </div>
                            <div class="ps-product__content"><a class="ps-product__title"
                                    href="product-detail-1.html">Leather brown belt</a><span
                                    class="ps-product__price">$1250.00</span></div>
                        </div>
                    </div>
                </div>
                <div class="grid-item large">
                    <div class="grid-item__content-wrapper">
                        <div class="ps-product--metro">
                            <div class="ps-product__thumbnail"><img src="assets/images/shop/metro-2.jpg" alt=""><a
                                    class="ps-btn ps-product__shopping" href="#"><i class="exist-minicart"></i>Add to
                                    cart</a>
                                <ul class="ps-product__actions">
                                    <li><a href="#"><i class="exist-heart"></i></a></li>
                                    <li><a href="#"><i class="exist-compare"></i></a></li>
                                    <li><a href="#"><i class="exist-quickview"></i></a></li>
                                </ul>
                            </div>
                            <div class="ps-product__content"><a class="ps-product__title"
                                    href="product-detail-1.html">Leather brown belt</a><span
                                    class="ps-product__price">$1250.00</span></div>
                        </div>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item__content-wrapper">
                        <div class="ps-product--metro">
                            <div class="ps-product__thumbnail"><img src="assets/images/shop/metro-3.jpg" alt=""><a
                                    class="ps-btn ps-product__shopping" href="#"><i class="exist-minicart"></i>Add to
                                    cart</a>
                                <ul class="ps-product__actions">
                                    <li><a href="#"><i class="exist-heart"></i></a></li>
                                    <li><a href="#"><i class="exist-compare"></i></a></li>
                                    <li><a href="#"><i class="exist-quickview"></i></a></li>
                                </ul>
                            </div>
                            <div class="ps-product__content"><a class="ps-product__title"
                                    href="product-detail-1.html">Leather brown belt</a><span
                                    class="ps-product__price">$1250.00</span></div>
                        </div>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item__content-wrapper">
                        <div class="ps-product--metro">
                            <div class="ps-product__thumbnail"><img src="assets/images/shop/metro-4.jpg" alt=""><a
                                    class="ps-btn ps-product__shopping" href="#"><i class="exist-minicart"></i>Add to
                                    cart</a>
                                <ul class="ps-product__actions">
                                    <li><a href="#"><i class="exist-heart"></i></a></li>
                                    <li><a href="#"><i class="exist-compare"></i></a></li>
                                    <li><a href="#"><i class="exist-quickview"></i></a></li>
                                </ul>
                            </div>
                            <div class="ps-product__content"><a class="ps-product__title"
                                    href="product-detail-1.html">Leather brown belt</a><span
                                    class="ps-product__price">$1250.00</span></div>
                        </div>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item__content-wrapper">
                        <div class="ps-product--metro">
                            <div class="ps-product__thumbnail"><img src="assets/images/shop/metro-5.jpg" alt=""><a
                                    class="ps-btn ps-product__shopping" href="#"><i class="exist-minicart"></i>Add to
                                    cart</a>
                                <ul class="ps-product__actions">
                                    <li><a href="#"><i class="exist-heart"></i></a></li>
                                    <li><a href="#"><i class="exist-compare"></i></a></li>
                                    <li><a href="#"><i class="exist-quickview"></i></a></li>
                                </ul>
                            </div>
                            <div class="ps-product__content"><a class="ps-product__title"
                                    href="product-detail-1.html">Leather brown belt</a><span
                                    class="ps-product__price">$1250.00</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ps-shop__morelink text-center mt-30"><a class="ps-btn ps-btn--black" href="#">Load more</a></div>
    </div>
</div> -->

<div class="container mt-70 pb-60">
    <h1 class="mb-20 text-start">SHOP</h1>

    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-4 col-6 text-center mb-40 mt-15">
            <div class="img-set-container">
                <div class="img-set" #slider (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp()"
                    (mousemove)="onMouseMove($event)">
                    <img src="assets/images/collection/home-3/collection-2.jpg" alt=""
                        class="img-fluid img-product img-set-item">
                    <img src="assets/images/product/home-6/home-6-1.jpg" alt=""
                        class="img-fluid img-product img-set-item">
                    <img src="assets/images/product/home-6/home-6-3.jpg" alt=""
                        class="img-fluid img-product img-set-item">
                    <img src="assets/images/product/home-6/home-6-6.jpg" alt=""
                        class="img-fluid img-product img-set-item">
                </div>
                <button class="slider-control left" (click)="scrollLeftBtn()">&#8592;</button>
                <button class="slider-control right" (click)="scrollRight()">&#8594;</button>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6 col-8 mt-15">
                    <span class="title">LEX BY NEMIROFF</span>
                    <hr>
                    <span class="sub-title">
                        £90
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-6 text-center mb-30 mt-10">

            <div class="img-set-container">
                <div class="img-set">
                    <img src="assets/images/collection/home-3/collection-2.jpg" alt=""
                        class="img-fluid img-product img-set-item">
                    <img src="assets/images/product/home-6/home-6-1.jpg" alt=""
                        class="img-fluid img-product img-set-item">
                    <img src="assets/images/product/home-6/home-6-3.jpg" alt=""
                        class="img-fluid img-product img-set-item">
                    <img src="assets/images/product/home-6/home-6-6.jpg" alt=""
                        class="img-fluid img-product img-set-item">
                </div>
                <button class="slider-control left">&#9664;</button>
                <button class="slider-control right">&#9654;</button>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-6 col-8 mt-15">
                    <span class="title">LEX BY NEMIROFF</span>
                    <hr>
                    <span class="sub-title">
                        £90
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-6 text-center mb-30 mt-10">
            <img src="assets/images/collection/home-3/collection-2.jpg" alt="" class="img-fluid img-product">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-8 mt-15">
                    <span class="title">LEX BY NEMIROFF</span>
                    <hr>
                    <span class="sub-title">
                        £90
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-6 text-center mb-30 mt-10">
            <img src="assets/images/collection/home-3/collection-2.jpg" alt="" class="img-fluid img-product">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-8 mt-15">
                    <span class="title">LEX BY NEMIROFF</span>
                    <hr>
                    <span class="sub-title">
                        £90
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-6 text-center mb-30 mt-10">
            <img src="assets/images/collection/home-3/collection-2.jpg" alt="" class="img-fluid img-product">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-8 mt-15">
                    <span class="title">LEX BY NEMIROFF</span>
                    <hr>
                    <span class="sub-title">
                        £90
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-6 text-center mb-30 mt-10">
            <img src="assets/images/collection/home-3/collection-2.jpg" alt="" class="img-fluid img-product">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-8 mt-15">
                    <span class="title">LEX BY NEMIROFF</span>
                    <hr>
                    <span class="sub-title">
                        £90
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-6 text-center mb-30 mt-10">
            <img src="assets/images/collection/home-3/collection-2.jpg" alt="" class="img-fluid img-product">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-8 mt-15">
                    <span class="title">LEX BY NEMIROFF</span>
                    <hr>
                    <span class="sub-title">
                        £90
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-6 text-center mb-30 mt-10">
            <img src="assets/images/collection/home-3/collection-2.jpg" alt="" class="img-fluid img-product">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-8 mt-15">
                    <span class="title">LEX BY NEMIROFF</span>
                    <hr>
                    <span class="sub-title">
                        £90
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-6 text-center mb-30 mt-10">
            <img src="assets/images/collection/home-3/collection-2.jpg" alt="" class="img-fluid img-product">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-8 mt-15">
                    <span class="title">LEX BY NEMIROFF</span>
                    <hr>
                    <span class="sub-title">
                        £90
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 
<section id="slider" class="mt-50">
    <br>
    <div class="slider-container">
        <div class="sub-container">
            <div class="slider-wrapper">
                <div class="ps-section__header text-center">
                    <h3 class="ps-heading">Shop Featured Products</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed fermentum nibh, vel aliquet
                        massa. Etiam in magna id risus lacinia luctus eget eu est.</p>
                </div>
                <div class="my-slider">
                    <div>
                        <div class="grid-item">
                            <div class="grid-item__content-wrapper">
                                <div class="ps-product--metro">
                                    <div class="ps-product__thumbnail">
                                        <div class="ps-badge ps-badge--new"><span>New</span></div><img
                                            src="assets/images/shop/metro-1.jpg" alt=""><a
                                            class="ps-btn ps-product__shopping" href="#"><i
                                                class="exist-minicart"></i>Add to cart</a>
                                        <ul class="ps-product__actions">
                                            <li><a href="#"><i class="exist-heart"></i></a></li>
                                            <li><a href="#"><i class="exist-compare"></i></a></li>
                                            <li><a href="#"><i class="exist-quickview"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="ps-product__content"><a class="ps-product__title"
                                            href="product-detail-1.html">Leather brown belt</a><span
                                            class="ps-product__price">$1250.00</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="grid-item">
                            <div class="grid-item__content-wrapper">
                                <div class="ps-product--metro">
                                    <div class="ps-product__thumbnail">
                                        <div class="ps-badge ps-badge--new"><span>New</span></div><img
                                            src="assets/images/shop/metro-5.jpg" alt=""><a
                                            class="ps-btn ps-product__shopping" href="#"><i
                                                class="exist-minicart"></i>Add to cart</a>
                                        <ul class="ps-product__actions">
                                            <li><a href="#"><i class="exist-heart"></i></a></li>
                                            <li><a href="#"><i class="exist-compare"></i></a></li>
                                            <li><a href="#"><i class="exist-quickview"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="ps-product__content"><a class="ps-product__title"
                                            href="product-detail-1.html">Leather brown belt</a><span
                                            class="ps-product__price">$1250.00</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="grid-item">
                            <div class="grid-item__content-wrapper">
                                <div class="ps-product--metro">
                                    <div class="ps-product__thumbnail">
                                        <div class="ps-badge ps-badge--new"><span>New</span></div><img
                                            src="assets/images/shop/metro-1.jpg" alt=""><a
                                            class="ps-btn ps-product__shopping" href="#"><i
                                                class="exist-minicart"></i>Add to cart</a>
                                        <ul class="ps-product__actions">
                                            <li><a href="#"><i class="exist-heart"></i></a></li>
                                            <li><a href="#"><i class="exist-compare"></i></a></li>
                                            <li><a href="#"><i class="exist-quickview"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="ps-product__content"><a class="ps-product__title"
                                            href="product-detail-1.html">Leather brown belt</a><span
                                            class="ps-product__price">$1250.00</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="grid-item">
                            <div class="grid-item__content-wrapper">
                                <div class="ps-product--metro">
                                    <div class="ps-product__thumbnail">
                                        <div class="ps-badge ps-badge--new"><span>New</span></div><img
                                            src="assets/images/shop/metro-1.jpg" alt=""><a
                                            class="ps-btn ps-product__shopping" href="#"><i
                                                class="exist-minicart"></i>Add to cart</a>
                                        <ul class="ps-product__actions">
                                            <li><a href="#"><i class="exist-heart"></i></a></li>
                                            <li><a href="#"><i class="exist-compare"></i></a></li>
                                            <li><a href="#"><i class="exist-quickview"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="ps-product__content"><a class="ps-product__title"
                                            href="product-detail-1.html">Leather brown belt</a><span
                                            class="ps-product__price">$1250.00</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="grid-item">
                            <div class="grid-item__content-wrapper">
                                <div class="ps-product--metro">
                                    <div class="ps-product__thumbnail">
                                        <div class="ps-badge ps-badge--new"><span>New</span></div><img
                                            src="assets/images/shop/metro-1.jpg" alt=""><a
                                            class="ps-btn ps-product__shopping" href="#"><i
                                                class="exist-minicart"></i>Add to cart</a>
                                        <ul class="ps-product__actions">
                                            <li><a href="#"><i class="exist-heart"></i></a></li>
                                            <li><a href="#"><i class="exist-compare"></i></a></li>
                                            <li><a href="#"><i class="exist-quickview"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="ps-product__content"><a class="ps-product__title"
                                            href="product-detail-1.html">Leather brown belt</a><span
                                            class="ps-product__price">$1250.00</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="grid-item">
                            <div class="grid-item__content-wrapper">
                                <div class="ps-product--metro">
                                    <div class="ps-product__thumbnail">
                                        <div class="ps-badge ps-badge--new"><span>New</span></div><img
                                            src="assets/images/shop/metro-1.jpg" alt=""><a
                                            class="ps-btn ps-product__shopping" href="#"><i
                                                class="exist-minicart"></i>Add to cart</a>
                                        <ul class="ps-product__actions">
                                            <li><a href="#"><i class="exist-heart"></i></a></li>
                                            <li><a href="#"><i class="exist-compare"></i></a></li>
                                            <li><a href="#"><i class="exist-quickview"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="ps-product__content"><a class="ps-product__title"
                                            href="product-detail-1.html">Leather brown belt</a><span
                                            class="ps-product__price">$1250.00</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="grid-item">
                            <div class="grid-item__content-wrapper">
                                <div class="ps-product--metro">
                                    <div class="ps-product__thumbnail">
                                        <div class="ps-badge ps-badge--new"><span>New</span></div><img
                                            src="assets/images/shop/metro-1.jpg" alt=""><a
                                            class="ps-btn ps-product__shopping" href="#"><i
                                                class="exist-minicart"></i>Add to cart</a>
                                        <ul class="ps-product__actions">
                                            <li><a href="#"><i class="exist-heart"></i></a></li>
                                            <li><a href="#"><i class="exist-compare"></i></a></li>
                                            <li><a href="#"><i class="exist-quickview"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="ps-product__content"><a class="ps-product__title"
                                            href="product-detail-1.html">Leather brown belt</a><span
                                            class="ps-product__price">$1250.00</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->


<!-- <div class="ps-section--product-history bg--cover" data-background="assets/images/product-creative-content/bg-back.jpg">
    <div class="ps-container-fluid">
        <div class="ps-section__content">
            <h3>Back to Classy 1980s</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                <br> Morbi efficitur sapien ante, a vulputate risus.</p>
        </div>
    </div>
</div> -->
